@media screen and (max-width: 1100px) {
    .menu{
        margin-right: 0;
    }
}
@media screen and (max-width: 1100px) {
    .item{
        margin-right: 15px;
    }
    .nav-icon{
        margin-right: 15px;
    }
}
@media screen and (max-width: 1100px) {
    .container-inner{
        max-width: 80%;
    }
    .row{
        align-items: center;
    }
    .nav-inner{
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        margin-right: 15px;
    }
    .nav-butons{
        display: none;
    }
    .main-block{
        padding: 10% 0 20%;
    }
    .branding-info{
        max-width: 50%;
    }
    .branding-img{
        max-width: 45%;
    }
}
@media screen and (max-width: 700px) {
    .branding-info{
        max-width: 100%;
    }
    .branding-img{
      display: none;
    }
}
@media screen and (max-width: 700px) {
    .main-title{
        font-size: 28px;
    }
}
@media screen and (max-width: 500px) {
    .main-title{
        font-size: 24px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 440px) {
    .menu{
        display: none;
    }
    .logo{
        margin-bottom: 0;
    }
    .main-title{
        font-size: 21px;
    }
    .main-info{
        font-size: 18px;
    }    
}