*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0  auto;
    padding: 0 15px;
}
.container-inner{
    max-width: 960px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav{
    background: #F2F2F2;
    padding: 25px 0;
    border-bottom: solid 6px  #E5E5E5;;
}
.nav-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.nav-right{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    margin-right: 45px;
}
.nav-butons{
    display: flex;
}
.item{
    font-weight: 500;
    margin-right: 28px;
}
.nav-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    margin-right: 28px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
}
.constructor{
    padding: 12px 30px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
}
.con-icon{
    margin-left: 10px;
}
.main-block{
    text-align: center;
    padding: 83px 0 356px;
    background: url(../img/interactive.png)  no-repeat 50% 100% #F2F2F2 cover;
    margin-bottom: 140px;
}
.main-title{
    font-size: 36px;
    font-weight: 600;
}
.main-info{
    margin-bottom: 28px;
}
.print{
   background: url(../img/line-text.png) repeat-x 0 100%;
}
.main-buton{
    padding: 12px 30px;
    background: #10BB87;
    color: #fff;
    box-shadow: 0px 9px 25px -4px rgba(72, 123, 108, 0.5);
    border-radius: 10px;
}
.line-text{
    background: url(../img/line-text.png) repeat-x 0 100%; 
}
.branding{
    padding-bottom: 70px;
    border-bottom: 2px solid #F2F2F2;
    margin-bottom: 100px;
}
.branding-title{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 44px;
}

.branding-info{
    max-width: 352px;
}
.branding-info p{
    margin-bottom: 44px;
}
.branding-btn{
    width: 131px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin-top: -16px;
    background: #10BB87;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0px 9px 25px -4px rgba(72, 123, 108, 0.5);
    border-radius: 10px;
}
.branding-img{
    max-width: 480px;
}
.advantage-col{
    width: 192px;
}
.advantage-title{
    font-weight: 600;
    position: relative;
    padding-top: 51px;

}
.advantage-title::before{
    content: "";
    width: 46px;
    height: 41px;
    position: absolute;
    background-image: url(../img/advantage-sprite.png);
    top: 0;
}
.advantage-title-1::before{
    background: url(../img/advantage-sprite.png) -10px -10px;
}
.advantage-title-2::before{
    background: url(../img/advantage-sprite.png) -10px -117px;
}
.advantage-title-3::before{
    background: url(../img/advantage-sprite.png) -10px -175px;
}
.advantage-title-4::before{
    background: url(../img/advantage-sprite.png) -10px -61px;
}
.advantage-col p{
    color: #B3B3B3;
}